
body {
    margin: 0;
    padding: 0;
    background-image: url('/src/assets/fondodefine.jpg');
    /*background-color: black;*/
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}